<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"
          content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <title>JWT</title>
    <link rel="stylesheet"
          href="./style.css">
</head>

<body>
    <div class="wrapper-box">
        <div class="box">
            <button onclick="register({email: 'user@demo.com',password: '1234567890'})">
                Register
            </button>
            <button onclick="login({email: 'user@demo.com',password: '1234567890'})">
                Login
            </button>
        </div>

        ***

        <div class="box">
            <button onclick="register({email: 'admin@demo.com',password: '1234567890', role: 'admin'})">
                Register as admin
            </button>
            <button onclick="login({email: 'admin@demo.com',password: '1234567890'})">
                Login as admin
            </button>
            <button onclick="admin()">Admin</button>
        </div>

        ***

        <div class="box">
            <button onclick="logout()">Logout</button>
            <button onclick="newToken()">New Token</button>
        </div>

        ***

        <p><b>### Response ###</b></p>
        <div id="response"></div>
    </div>


    <script type="application/javascript"
            src="./main.js"></script>
</body>

</html>